* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
}


.pages {
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  font-size: 54px;
  color: white;
}

.home {
    background-image: url(./images/img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services{
    background-image: url(./images/img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.consulting {
    background-image: url(./images/img-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.marketing {
    background-image: url(./images/img-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.design {
    background-image: url(./images/img-5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.development {
    background-image: url(./images/img-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products {
    background-image: url(./images/img-7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-us {
    background-image: url(./images/img-8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-up {
    background-image: url(./images/img-9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}